body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../攻略_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:30px;
    top:106px;
    width:1024px;
    height:719px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:725px;
}

.u1 {
    position:absolute;
    left:2px;
    top:352px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../攻略_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:30px;
    top:26px;
    width:1024px;
    height:80px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:29px;
    width:1020px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:895px;
    top:82px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../攻略_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:67px;
    top:46px;
    width:40px;
    height:40px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../攻略_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:30px;
    top:106px;
    width:180px;
    height:719px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:725px;
}

.u8 {
    position:absolute;
    left:2px;
    top:352px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:424px;
    top:208px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:295px;
    top:208px;
    width:37px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../攻略_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:806px;
    height:3px;
}

.u11 {
    position:absolute;
    left:236px;
    top:196px;
    width:806px;
    height:10px;
    
}

.u12_line {
    background-image: url('../攻略_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:806px;
    height:3px;
}

.u12 {
    position:absolute;
    left:236px;
    top:226px;
    width:806px;
    height:10px;
    
}

.u13_line {
    background-image: url('../攻略_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:806px;
    height:3px;
}

.u13 {
    position:absolute;
    left:236px;
    top:256px;
    width:806px;
    height:10px;
    
}

.u14 {
    position:absolute;
    left:296px;
    top:241px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:424px;
    top:241px;
    width:123px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../攻略_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:806px;
    height:3px;
}

.u16 {
    position:absolute;
    left:236px;
    top:286px;
    width:806px;
    height:10px;
    
}

.u17 {
    position:absolute;
    left:296px;
    top:271px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:425px;
    top:271px;
    width:107px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:779px;
    top:208px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:778px;
    top:241px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:818px;
    top:241px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:778px;
    top:271px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:818px;
    top:271px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../攻略_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:806px;
    height:3px;
}

.u24 {
    position:absolute;
    left:236px;
    top:316px;
    width:806px;
    height:10px;
    
}

.u25_line {
    background-image: url('../攻略_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:806px;
    height:3px;
}

.u25 {
    position:absolute;
    left:236px;
    top:346px;
    width:806px;
    height:10px;
    
}

.u26 {
    position:absolute;
    left:296px;
    top:301px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:296px;
    top:331px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:425px;
    top:301px;
    width:144px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:778px;
    top:301px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:818px;
    top:301px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:638px;
    top:208px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:638px;
    top:241px;
    width:77px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:638px;
    top:271px;
    width:77px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:638px;
    top:301px;
    width:77px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:425px;
    top:331px;
    width:144px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:778px;
    top:331px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:818px;
    top:331px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:638px;
    top:331px;
    width:77px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:243px;
    top:163px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40_normal {
    background-image: url('../攻略_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:30px;
    top:106px;
    width:180px;
    height:30px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u41 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../攻略_files/u40_normal.png');
}

.u42_container {
    position:absolute;
    left:30px;
    top:165px;
    width:180px;
    height:30px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u43 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../攻略_files/u40_normal.png');
}

.u44_container {
    position:absolute;
    left:30px;
    top:136px;
    width:180px;
    height:30px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u45 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../攻略_files/u40_normal.png');
}

.u46_container {
    position:absolute;
    left:30px;
    top:195px;
    width:180px;
    height:30px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u47 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../攻略_files/u40_normal.png');
}

.u48_container {
    position:absolute;
    left:30px;
    top:225px;
    width:180px;
    height:30px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u49 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:235px;
    top:119px;
    width:204px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

