body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../我的活动_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:16px;
    top:26px;
    width:400px;
    height:601px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:607px;
}

.u1 {
    position:absolute;
    left:2px;
    top:292px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../我的活动_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:16px;
    top:21px;
    width:400px;
    height:43px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:49px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:396px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:29px;
    top:28px;
    width:29px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../我的活动_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:25px;
    top:74px;
    width:383px;
    height:66px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:389px;
    height:72px;
}

.u6 {
    position:absolute;
    left:2px;
    top:25px;
    width:379px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../我的活动_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:31px;
    top:82px;
    width:50px;
    height:50px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u8 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:91px;
    top:81px;
    width:150px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:357px;
    top:103px;
    width:42px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../我的活动_files/u5_normal.png');
}

.u11_container {
    position:absolute;
    left:25px;
    top:144px;
    width:383px;
    height:66px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:389px;
    height:72px;
}

.u12 {
    position:absolute;
    left:2px;
    top:25px;
    width:379px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../我的活动_files/u7_normal.png');
}

.u13_container {
    position:absolute;
    left:31px;
    top:152px;
    width:50px;
    height:50px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u14 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:91px;
    top:151px;
    width:150px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:357px;
    top:173px;
    width:42px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

