body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../推荐板块_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:13px;
    top:30px;
    width:400px;
    height:601px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:607px;
}

.u1 {
    position:absolute;
    left:2px;
    top:292px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../推荐板块_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:13px;
    top:25px;
    width:400px;
    height:43px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:49px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:396px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:26px;
    top:32px;
    width:29px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:109px;
    top:92px;
    width:52px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:374px;
    top:96px;
    width:19px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../推荐板块_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:380px;
    height:3px;
}

.u7 {
    position:absolute;
    left:24px;
    top:132px;
    width:380px;
    height:10px;
    
}

.u8 {
    position:absolute;
    left:109px;
    top:152px;
    width:74px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:374px;
    top:156px;
    width:19px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../推荐板块_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:380px;
    height:3px;
}

.u10 {
    position:absolute;
    left:24px;
    top:192px;
    width:380px;
    height:10px;
    
}

.u11_normal {
    background-image: url('../推荐板块_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:39px;
    top:85px;
    width:52px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:45px;
}

.u12 {
    position:absolute;
    left:2px;
    top:14px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../推荐板块_files/u11_normal.png');
}

.u13_container {
    position:absolute;
    left:39px;
    top:145px;
    width:52px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:45px;
}

.u14 {
    position:absolute;
    left:2px;
    top:14px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:16px;
    top:71px;
    width:396px;
    height:126px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

