body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../管理用户评论_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:28px;
    top:23px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../管理用户评论_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:28px;
    top:183px;
    width:1024px;
    height:608px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:614px;
}

.u3 {
    position:absolute;
    left:2px;
    top:296px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../管理用户评论_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:28px;
    top:24px;
    width:1024px;
    height:80px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:86px;
}

.u5 {
    position:absolute;
    left:2px;
    top:29px;
    width:1020px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:893px;
    top:80px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../管理用户评论_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:65px;
    top:44px;
    width:40px;
    height:40px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u8 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:65px;
    top:145px;
    width:204px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../管理用户评论_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:28px;
    top:186px;
    width:180px;
    height:608px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:614px;
}

.u11 {
    position:absolute;
    left:2px;
    top:296px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:516px;
    top:218px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:286px;
    top:218px;
    width:37px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_line {
    background-image: url('../管理用户评论_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:4px;
    width:806px;
    height:3px;
}

.u14 {
    position:absolute;
    left:227px;
    top:206px;
    width:806px;
    height:10px;
    
}

.u15_line {
    background-image: url('../管理用户评论_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:4px;
    width:806px;
    height:3px;
}

.u15 {
    position:absolute;
    left:227px;
    top:236px;
    width:806px;
    height:10px;
    
}

.u16_line {
    background-image: url('../管理用户评论_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:806px;
    height:3px;
}

.u16 {
    position:absolute;
    left:227px;
    top:266px;
    width:806px;
    height:10px;
    
}

.u17 {
    position:absolute;
    left:287px;
    top:251px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:516px;
    top:251px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../管理用户评论_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:806px;
    height:3px;
}

.u19 {
    position:absolute;
    left:227px;
    top:296px;
    width:806px;
    height:10px;
    
}

.u20 {
    position:absolute;
    left:287px;
    top:281px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:517px;
    top:281px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:840px;
    top:218px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:669px;
    top:218px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:671px;
    top:251px;
    width:77px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:671px;
    top:281px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:844px;
    top:251px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:844px;
    top:281px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:377px;
    top:218px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:377px;
    top:251px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:377px;
    top:281px;
    width:73px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../管理用户评论_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:28px;
    top:184px;
    width:180px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u32 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../管理用户评论_files/u31_normal.png');
}

.u33_container {
    position:absolute;
    left:28px;
    top:243px;
    width:180px;
    height:30px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u34 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../管理用户评论_files/u31_normal.png');
}

.u35_container {
    position:absolute;
    left:28px;
    top:214px;
    width:180px;
    height:30px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u36 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../管理用户评论_files/u31_normal.png');
}

.u37_container {
    position:absolute;
    left:28px;
    top:273px;
    width:180px;
    height:30px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u38 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../管理用户评论_files/u31_normal.png');
}

.u39_container {
    position:absolute;
    left:28px;
    top:303px;
    width:180px;
    height:30px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u40 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:933px;
    top:471px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:299px;
    top:380px;
    width:734px;
    height:73px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:299px;
    top:336px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:227px;
    top:341px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:241px;
    top:381px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

